.message {
    background-color: #FFF8C4;
    padding: 0.5em;
}

.rightSidebar {
    position: fixed;
    right: 0;
    top: 50%;
    width: 10em;
    background-color: #FFF8C4;
    margin-top: -2.5em;
    border-style: solid;
    color: red;
}

.highestScore {
    width: 100% ;
    margin-top: 2em ;
    margin-bottom: 1em;
    border-top-style: solid;
    border-top-width: thin;
}

.exercise-iframe {
    width: 100%;
    height: 50em;
    border: 0;
}

.stateSelection {
    width: 100%;
}

.userIdSelection {
    text-align: center;
    display: block;
    margin: auto auto 10pt;
}

body {
  counter-reset: problem;
}

.highestScore::before {
	counter-increment: problem;
	content: counter(problem) ". "
}

.exercise-button {
	margin: 1em;
}

.exercise-button.active {
	background: #FFF8C4;
}


iframe {
	height: 5000px;
	overflow: hidden;
	
}

body {
	overflow: hidden;	
}

