@(prefix: String, assignmentId: Long, userId: String, 
	toolConsumerId: String, contextId: String,  
	duration: Int, isInstructor: Boolean,
    lisOutcomeServiceURL: String, lisResultSourcedId: String,
    oauthConsumerKey: String)
<html>
<head>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'/>
    <script type="text/javascript">
	const assignment = { 
	  prefix: '@prefix',
	  assignmentId: '@assignmentId',
	  userId: '@userId',
	  toolConsumerId: '@toolConsumerId',
	  contextId: '@contextId',
	  duration: @duration,
	  isInstructor: @isInstructor,
	  lisOutcomeServiceURL: '@lisOutcomeServiceURL',
	  lisResultSourcedId: '@lisResultSourcedId',
	  oauthConsumerKey: '@oauthConsumerKey',
	  submissionURL: '@controllers.routes.DataProvider.getProblems(assignmentId, userId, toolConsumerId,
                		contextId, if (isInstructor) "Instructor" else "Student" )',
      startTimeURL: '@controllers.routes.DataProvider.getStartTimeInMilliseconds(assignmentId, userId, toolConsumerId, contextId)'                			  
	}    
    </script>
	<script type="text/javascript" src='@routes.Assets.at("javascripts/ltihub.js")'></script>
        
</head>
<body>
    @if(isInstructor) {
        <p class="message">You are viewing this assignment as instructor.</p>
        <p>
            <a href="@routes.HomeController.getSubmissionViewer(assignmentId)">View Submissions</a>
        </p>
    }

    @if(!isInstructor) {
        <div id="record-score">
        <p>
            When you are done, click <button onclick="submitGrades()">Record my score</button> to save your score in the gradebook.
        </p>

        <p style='display:none' class='message' id='response'></p>
    }
<hr/>
<p>User ID: <code>@userId</code></p>
<p>Assignment ID: <code>@assignmentId</code></p>
<hr/>
<p>Click on the buttons below to work on all parts of this assignment.</p>
</body>
</html>