@(contextID: String, resourceLinkID: String, toolConsumerInstanceGuID: String)
@import helper._

<p>Paste a list of problem URLs(one link per line) to be used for this assignment</p>
	
@form(routes.HomeController.addAssignment()) {
    
    <div id="problem-form">
	<textarea style="display: block; width: 90%;" name="url" value="" rows="10"></textarea>
       <input type="hidden" name="context_id" value="@contextID" />
       <input type="hidden" name="resource_link_id" value="@resourceLinkID" />
       <input type="hidden" name="tool_consumer_id" value="@toolConsumerInstanceGuID" />
       <p>If  you want to make this assignment a timed one, please enter time limit in minutes in the box below:</p>
       Duration <br>
       <input type="text" name="duration">
    </div>
    <br/><br/>
    <input type="submit" name="submit" value="Save Assignment" />
}


