@()
@import helper._

	<p>Paste a list of problem URLs(one link per line) to be used for this assignment</p>
	
	@form(routes.HomeController.addAssignmentOutsideLMS()) {
    
    <div id="problem-form">
       Enter Key value: <br>
       <input type="text" name="key" value="" />
       Enter Secret: <br>
       <input type="text" name="secret" value="" />
       <textarea style="display: block; width: 90%;" name="url" value="" rows="10"></textarea>
       <p>If  you want to make this assignment a timed one, please enter time limit in minutes in the box below:</p>
       Duration <br>
       <input type="text" name="duration">
   </div>
    <br/><br/>
    <input type="submit" name="submit" value="Save Assignment" />
}
