@(problems: List[Problem], assignmentID: Long, userID: String, preFix: String)

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="@routes.Assets.at("javascripts/shortest-edit-script.js")"></script>

<script type="text/javascript">
        /*
         The states that the server currently has stored.
         This is used to compute what has changed since the last time data was sent to the server, so that the server
         only needs to store the changes every update instead of storing the whole state every update.
         */
        var problemIdToContent = {previous: {}, current: {}};

        // THIS IS TEMPORARY
        // TODO: Get rid of this function when merging view files together
        function populateProblemIdToContent() {
            @for(problem <- problems) {
                problemIdToContent.previous[@problem.getProblemId()] = {};
            }
        }
        window.onload = populateProblemIdToContent;

        /*
         Tell the iframes to report their state back.
         When all of the iframes have reported back, we will send any changes to the server.
         */
        function updateStatesFromProblems() {
            // Map is reset because the states in the array must be updated after this function is called
            problemIdToContent.current = {};

            $('.exercise-iframe').each(function(_, iframe) {
                iframe.contentWindow.postMessage({query: 'getContent', problemId: iframe.id}, '*');
            });
        }

        function sendStateEditScriptsToServer() {
            messagesSinceLastStatesSentToServer = 0;

            // The problemId, scores, and an edit script to turn the previous submission's state into the current state
            var problemsContents = [];

            for (var problemId in problemIdToContent.current) {
                if (problemIdToContent.previous.hasOwnProperty(problemId) &&
                        problemIdToContent.current.hasOwnProperty(problemId)) {

                    const previousState = problemIdToContent.previous[problemId].state;
                    const currentState = problemIdToContent.current[problemId].state;

                    const previousScore = problemIdToContent.previous[problemId].score;
                    const currentScore = problemIdToContent.current[problemId].score;

                    const previousStateString = previousState !== undefined ? JSON.stringify(previousState) : "";
                    const currentStateString = currentState !== undefined ? JSON.stringify(currentState) : "";

                    const previousScoreString = previousScore !== undefined ? JSON.stringify(previousScore) : "";
                    const currentScoreString = currentScore !== undefined ? JSON.stringify(currentScore) : "";

                    if (previousState !== currentState || previousScoreString !== currentScoreString) {
                        problemsContents.push({
                            problemId: problemId,
                            score: currentScore,
                            stateEditScript: shortestEditScript(previousStateString, currentStateString)
                        });
                    }
                }
            }

            if (problemsContents.length > 0) {
                $.ajax({
                    url: '@preFix/submissions/@assignmentID',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(problemsContents),
                    success: function (msg) {
                        problemIdToContent.previous = problemIdToContent.current;
                        problemIdToContent.current = {};

                        var response = document.getElementById('response');
                        response.innerHTML = "Your partially complete assignment is saved!";
                        setTimeout(function () {
                            $("#response").hide();
                        }, 5000);
                    }
                });
            }
        }

        var messagesSinceLastStatesSentToServer = 0;
        function receiveMessage(event) {
            messagesSinceLastStatesSentToServer++;

            var problemContent;
            if (event.data.content !== undefined)
                problemContent = event.data.content;
            else
                problemContent = {};

            if (event.data.problemId !== undefined)
                problemIdToContent.current[event.data.problemId] = problemContent;

            const iframes = document.getElementsByClassName('exercise-iframe');
            if (messagesSinceLastStatesSentToServer === iframes.length)
                sendStateEditScriptsToServer();
        }

        window.addEventListener("message", receiveMessage, false);
        setInterval(updateStatesFromProblems, 10000);
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<style>
        .warning {
            background-color: #FFF8C4;
            padding: 1em;
        }
</style>
@if(flash.containsKey("warning")) {
    <p class="warning">
        This LTI tool is launched as an assignment in instructor view. </p>
}

@*TODO: Stop using iframes and grab the HTML and plop it inside instead.*@
@for(problem <- problems) {
    <iframe style='width: 100% ;
        height: 50em ;' class='exercise-iframe'
    id=@problem.problemId src=@problem.getProblemUrl().trim() ></iframe>
}
<div id='response'></div>

<input type="button" value="Save my work" onclick="updateStatesFromProblems(event)"/>
<a href="@routes.GradeSubmitterController.submitGradeToCanvas(assignmentID, userID)"><button>Record my score</button></a>

<p>If you want to take a break and continue later, click on "Save my work". If you are done with all questions, click on "Record my score"</p>
