@(problems: List[Problem], submissions: List[Submission], assignmentID: Long, userID: Long, prefix: String)
@import helper._

<script type='text/javascript'>
function onLoadHandler() {
         var iframes = document.getElementsByClassName('exercise-iframe')
         var assignId = @assignmentID;
         var userId = @userID;

         console.log("Assignment ID is: " + assignId);
         console.log("USer ID is: " + userId);
             for (i = 0; i < iframes.length; i++) {
                var str = iframes[i].src;
                var patt = new RegExp("play.codecheck.ws");
//              alert(iframes.length);
                if(patt.test(str) && str.includes("?")){
	    iframes[i].src = iframes[i].src + "&scoreCallback="+window.location.protocol+"//"+window.location.host + "@prefix" + "/submissions/"+assignId +"/" + userId +"/" +iframes[i].id;
//                      alert(iframes[i].src);
                }
		 else if(patt.test(str)){
		iframes[i].src = iframes[i].src + "?scoreCallback="+window.location.protocol+"//"+window.location.host + "@prefix" + "/submissions/"+assignId +"/" + userId +"/" +iframes[i].id;
  //                    alert(iframes[i].src);
        }
	else
		iframes[i].src = iframes[i].src;        
        }
}
       // window.onload = onLoadHandler;
</script>
<script type="text/javascript">
var exerciseScores = [];

function checkScores() {
    exerciseScores = []; // reset the scores array to prevent incorrect data when button is pressed again
    $('.exercise-iframe').each(function (_, iframe) {
        iframe.contentWindow.postMessage("scores", "*")
    });
    return false
}

function receiveMessage(event) {
    var iframes = document.getElementsByClassName('exercise-iframe')
    exerciseScores.push(event.data)
   // var response = document.getElementById('response')
   // response.innerHTML = JSON.stringify(exerciseScores)
    $.ajax({
                url: '/send-interactivescore/@assignmentID',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(exerciseScores),
                success: function(msg) {
                    var response = document.getElementById('response')
                    response.innerHTML = "Your partially complete assignment is saved!";
setTimeout(function() { $("#response").hide(); }, 5000);               }
            });
 }

  window.addEventListener("message", receiveMessage, false);
function addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
    window.onload = func;
  } else {
    window.onload = function() {
      if (oldonload) {
        oldonload();
      }
      func();
    }
  }
}
addLoadEvent(onLoadHandler);
addLoadEvent(receiveMessage);
     </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
 <style>
    .warning {
        background-color: #FFF8C4;
        padding: 1em;
    }
    </style>
       @if(flash.containsKey("warning")) {
        <p class="warning">
            It looks like this LTI tool wasn't launched as an assignment, or you are trying to take it as a teacher rather
                        than as a student. Make sure to set up an external tool assignment as outlined for this tool.
                        <strong>Grade passback will not work outside the student view.</strong>        </p>
    }
        

@for(problem <- problems) {
        @for(submission <- submissions) {
        @if(problem.problemId == submission.problem.problemId){   
        <div style='width : 100% ; height : 3em ;border:1px solid black;'
        id= @submission.submissionId  >
                 <p>You have solved the below problem earlier and highest score from your earlier attempts is :     
                             <b>  @submission.correct/ @submission.maxscore</b> </p>
                        </div>}
                           }
        <iframe style='width : 100% ; height : 50em ;' class='exercise-iframe'
        id= @problem.problemId src=@problem.url ></iframe>
}
<div id='response'></div>

<input type="button" value="Save my work" onclick="checkScores(event)"/>
<a href="@routes.GradeSubmitterController.submitGradeToCanvas(assignmentID, userID)"><button>Record my score</button></a>

<p>If you want to take a break and continue later, click on "Save my work". If you are done with all questions, click on "Record my score"</p>

