
@()

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@import helper._

@main("Assignment") {

@form(routes.HomeController.addAssignment()) {

    <label>Problems  </label>
    <div id="problem-form">
    	<p>Comma separated problem Urls</p>
	    <input type="text" name="problems" />
    </div>

    <input type="submit" name="submit" value="Save Assignment" />
<br/><br/>
</div>
}
}
