@(assignment: Assignment, problems: List[models.Problem])

<h2>@problems.size() problems(s) added to assignment</h2>
    
    <ul>
        @for(problem <- problems) {
            <li>
                <a href="@problem.getProblemUrl()">@problem.getProblemUrl()</a>
            </li>
        }
    </ul>

    <p>If you are done adding problems, please click on Done! button  otherwise please click on Edit! button</p>
    
		<a href="@routes.HomeController.embedAssignment(assignment.getAssignmentId())"><button>Done!!</button></a>
		<a href="@routes.HomeController.showEditPage(assignment.getAssignmentId())"><button>Edit!!</button></a>
  


